<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Build your Cookie Consent</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-3 mt-lg-5">
        <div class="col-xl-3 col-lg-4 col-12 builder-sidebar-wrap">
            @@include("builder-sidebar.html")
        </div>
        <div class="col-xl-6 col-lg-8 col-12 demo_zone_pick">
            
            <div class="builder_zone active card shadow" id="compliance_preference">
                <a href="#" class="card-body d-flex justify-content-between align-items-center" aria-expanded="true" data-toggle="collapse" data-target="#card1">
                    <span class="mb-0 h4">1. Choose your compliance</span>
                    <span class="mb-0 h3"><i class="d-inline-block icon icon-arrow-down"></i></span>
                </a>
                <div class="card-body collapse show" id="card1">
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="selectable d-flex flex-grow-1 flex-basis-auto flex-sm-basis-0 custom-checkbox mt-3 mt-lg-0 w-100 mr-3">
                            <input type="radio" name="consent_type" id="consent_implied" value="implied" checked="" class="custom-control-input">
                            <label class="card flex-grow-1 custom-control-label" for="consent_implied">
                                <span class="card-body d-flex flex-row">
                                    <svg class="icon flex-shrink-0">
                                        <use xlink:href="#eprivacy1"></use>
                                    </svg>
                                    <span class="d-flex flex-row justify-content-between flex-grow-1 align-items-center text-left">
                                        <span class="h6 ml-2 mb-0">ePrivacy Directive</span>
                                        <i class="icon icon-help h5 mb-0 text-muted" data-toggle="tooltip" data-placement="bottom" title="Your JavaScript scripts will be loaded automatically."></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="selectable d-flex flex-grow-1 flex-basis-auto flex-sm-basis-0 custom-checkbox mt-3 mt-lg-0 w-100">
                            <input type="radio" name="consent_type" id="consent_express" value="express" class="custom-control-input">
                            <label class="card flex-grow-1 custom-control-label" for="consent_express">
                                <span class="card-body d-flex flex-row">
                                    <svg class="icon flex-shrink-0">
                                        <use xlink:href="#eprivacy2"></use>
                                    </svg>
                                    <span class="d-flex flex-row justify-content-between flex-grow-1 align-items-center text-left">
                                        <span class="h6 mb-0 mb-sm-1 mt-2 ml-0 ml-sm-3 ml-sm-0">GDPR + ePrivacy Directive</span>
                                        <i class="icon icon-help h5 mb-0 text-muted" data-toggle="tooltip" data-placement="bottom" title='Your JavaScript scripts will be loaded only after the user clicks "I agree".'></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="builder_zone card shadow mt-4" id="customize_cookie_consent">
                <a href="#" class="card-body d-flex justify-content-between align-items-center" aria-expanded="true" data-toggle="collapse" data-target="#card2">
                    <span class="mb-0 h4">2. Customize your Cookie Consent</span>
                    <span class="mb-0 h3"><i class="d-inline-block icon icon-arrow-down"></i></span>
                </a>
                <div class="card-body collapse show" id="card2">
                    <div class="form-group sub_selector">
                        <label for="website_name">Enter your website name so that it appears in Cookies Preferences Center.</label>
                        <input type="text" class="form-control" id="website_name" name="website_name" aria-describedby="website_name" placeholder="My New Website">
                    </div>
                    <div class="form-group sub_selector mt-5">
                        <label>Choose your notice banner</label>
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="selectable d-flex custom-checkbox w-100 mr-lg-3 mr-0">
                                <input type="radio" id="notice_banner" name="notice_banner" class="custom-control-input" value="simple">
                                <label class="card text-center w-100 custom-control-label" for="notice_banner">
                                    <span class="card-body d-flex align-items-center text-left">
                                        <svg class="icon flex-shrink-0">
                                            <use xlink:href="#simple"></use>
                                        </svg>
                                        <span class="h6 mb-0 ml-2">Simple dialog</span>
                                    </span>
                                </label>
                            </div>
                            <div class="selectable d-flex custom-checkbox w-100 mt-3 mt-lg-0">
                                <input type="radio" id="notice_banner_2" name="notice_banner" class="custom-control-input" value="headline">
                                <label class="card text-center w-100 custom-control-label" for="notice_banner_2">
                                    <span class="card-body d-flex align-items-center text-left">
                                        <svg class="icon flex-shrink-0">
                                            <use xlink:href="#headline"></use>
                                        </svg>
                                        <span class="h6 mb-0 ml-2">Headline dialog</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="selectable d-flex custom-checkbox w-100 mt-3 mr-lg-3 mr-0">
                                <input type="radio" id="notice_banner_3" name="notice_banner" class="custom-control-input" value="interstitial">
                                <label class="card text-center w-100 custom-control-label" for="notice_banner_3">
                                    <span class="card-body d-flex align-items-center text-left">
                                        <svg class="icon flex-shrink-0">
                                            <use xlink:href="#dialog"></use>
                                        </svg>
                                        <span class="h6 mb-0 ml-2">Interstitial dialog</span>
                                    </span>
                                </label>
                            </div>
                            <div class="selectable d-flex custom-checkbox w-100 mt-3">
                                <input type="radio" id="notice_banner_4" name="notice_banner" class="custom-control-input" value="standalone">
                                <label class="card text-center w-100 custom-control-label" for="notice_banner_4">
                                    <span class="card-body d-flex align-items-center text-left">
                                        <svg class="icon flex-shrink-0">
                                            <use xlink:href="#standalone"></use>
                                        </svg>
                                        <span class="h6 mb-0 ml-2">Interstitial standalone</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group sub_selector mt-5">
                        <label>Choose a color palette for the notice banner and the Preferences Center.</label>
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="selectable d-flex custom-checkbox w-100 mr-lg-3 mr-0">
                                <input type="radio" id="palette_light" name="palette" class="custom-control-input" value="light">
                                <label class="card custom-control-label w-100" for="palette_light">
                                    <span class="card-body d-flex align-items-center text-left">
                                        <svg class="icon flex-shrink-0">
                                            <use xlink:href="#light"></use>
                                        </svg>
                                        <span class="h6 mb-0 ml-2">Light</span>
                                    </span>
                                </label>
                            </div>
                            <div class="selectable d-flex custom-checkbox w-100 mt-3 mt-lg-0">
                                <input type="radio" id="palette_dark" name="palette" class="custom-control-input" value="dark">
                                <label class="card custom-control-label w-100" for="palette_dark">
                                    <span class="card-body d-flex align-items-center text-left">
                                        <svg class="icon flex-shrink-0">
                                            <use xlink:href="#dark"></use>
                                        </svg>
                                        <span class="h6 mb-0 ml-2">Dark</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group sub_selector mt-5">
                        <label>Choose your default language
                            <small class="d-block">Language missing? We accept user submissions! Contact us.</small>
                        </label>
                        <select class="form-control " id="language" name="language">
                            <option value="en" selected="">English</option>
                            <option value="de">German</option>
                            <option value="fr">French</option>
                            <option value="es">Spanish</option>
                            <option value="it">Italian</option>
                            <option value="pt">Portugese</option>
                            <option value="hu">Hungarian</option>
                            <option value="da">Danish</option>
                            <option value="sl">Slovenian</option>
                            <option value="pl">Polish</option>
                            <option value="ro">Romanian</option>
                            <option value="sr">Serbian</option>
                            <option value="cy">Welsh</option>
                        </select>
                    </div>
                    <div class="form-group sub_selector mt-5">
                        <label for="change_preferences_selector">Name the button that would open the Preferences Center</label>
                        <p class="medium">Users should be able to change their cookies preferences. Include a link/button anywhere on your page so that users can open the Cookies Preferences Center. Example of a link to include on your page that will open the Preferences Center: </p>
                        <div class="alert alert-info p-2 medium">&lt;a href="#" id="changePreferences">Change your Cookies Preferences&lt;/a&gt;</div>
                        <input type="text" class="form-control" id="change_preferences_selector" aria-describedby="change_preferences_selector" placeholder="#changePreferences">
                        <span class="mt-2 d-flex flex-row align-items-center">IDs, classes, tag names can be used as a DOM selector: #changePreferences</span>
                        <div class="alert alert-info medium mb-0 p-1 d-inline-block">#changePreferences</div>
                    </div>
                    <div class="form-group sub_selector mt-5">
                        <label>Link to your Cookies Policy
                            <small class="d-block">A Cookies Policy (or a "Cookies" section within your Privacy Policy), can be used to detail more about your use of cookies. If you have a Cookies Policy, show it in the notice banner.</small>
                        </label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="include_cookies_policy" name="include_cookies_policy" value="yes">
                            <label class="custom-control-label p mt-3" for="include_cookies_policy">Yes, I have a Cookies Policy</label>
                        </div>
                        <div id="cookies_policy_link" class="form-group mt-3" style="display: none;">
                            <label>Enter a valid link to your Cookies Policy:
                                <small class="d-block">Please enter a valid URL. Example of a valid URL: <code>https://example.com/cookies-policy</code></small>
                            </label>
                            <input type="text" class="form-control" id="cookies_policy_link_input" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="builder_zone card shadow mt-4" id="add_js_scripts">
                <a href="#" class="card-body d-flex justify-content-between align-items-center" aria-expanded="true" data-toggle="collapse" data-target="#card3">
                    <span class="mb-0 h4">3.Add and organize your JavaScript scripts</span>
                    <span class="mb-0 h3"><i class="d-inline-block icon icon-arrow-down"></i></span>
                </a>
                <div class="card-body collapse show" id="card3">
                    <p>This is an <strong>optional step</strong>, but you can organize your JavaScript scripts directly from this page.<i class="icon icon-help text-muted" data-toggle="tooltip" data-placement="bottom" title='For example, you can copy-paste your Google AdWords code here and select "Targeting & Advertising" and we will automatically convert your script code as required by the Cookie Consent tool.'></i></p>
                    <div class="form-group">
                        <label for="script_name">Link to your Cookies Policy</label>
                        <input type="text" class="form-control" id="script_name" aria-describedby="script_name" placeholder="A name for this script (ie. Google Analytics)">
                    </div>
                    <div class="form-group sub_selector mt-5">
                        <label>Type</label>
                        <p>There are four levels of cookie consent available.
                            <i class="icon icon-help text-muted" data-html="true" data-toggle="tooltip" data-placement="bottom" title="<p>There are four levels of cookie consent available:</p>
                                      <ul class='text-left '>
                                           <li><strong>strictly necessary</strong> (ie. account login related cookies)</li>
                                           <li><strong>functionality</strong> (ie. remembering users choices)</li>
                                           <li><strong>tracking and performance</strong> (ie. Google Analytics)</li>
                                           <li><strong>targeting and advertising</strong> (ie. Google AdSense, Google AdWords)</li>
                                       </ul>
                                       <p>Enter the script name, select its type and copy-paste  script code.</p>"></i></p>
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="selectable d-flex custom-checkbox w-100 mr-lg-3 mr-0">
                                <input type="radio" id="script_type" name="script_type" class="custom-control-input" value="strictly-necessary">
                                <label class="card text-center w-100 custom-control-label py-3" for="script_type">
                                    <span class="card-body d-flex text-left align-items-center">
                                        <span class="h6 mb-0">Strictly Necessary (ie. account login)</span>
                                    </span>
                                </label>
                            </div>
                            <div class="selectable d-flex custom-checkbox w-100 mt-3 mt-lg-0">
                                <input type="radio" id="script_type_2" name="script_type" class="custom-control-input" value="functionality">
                                <label class="card text-center w-100 custom-control-label py-3" for="script_type_2">
                                    <span class="card-body d-flex text-left align-items-center">
                                        <span class="h6 mb-0">Functionality (ie. remembering user choices)</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="selectable d-flex custom-checkbox w-100 mt-3 mr-lg-3 mr-0">
                                <input type="radio" id="script_type_3" name="script_type" class="custom-control-input" value="tracking">
                                <label class="card text-center w-100 custom-control-label py-3" for="script_type_3">
                                    <span class="card-body d-flex text-left align-items-center">
                                        <span class="h6 mb-0">Tracking & Performance (ie. Google Analytics)</span>
                                    </span>
                                </label>
                            </div>
                            <div class="selectable d-flex custom-checkbox w-100 mt-3">
                                <input type="radio" id="script_type_4" name="script_type" class="custom-control-input" value="targeting">
                                <label class="card text-center w-100 custom-control-label py-3" for="script_type_4">
                                    <span class="card-body d-flex text-left align-items-center">
                                        <span class="h6 mb-0">Targeting & Advertising (ie. Google AdSense, Google AdWords)</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <label for="script_code">Copy-paste the code</label>
                        <textarea class="form-control mb-2" rows="7" id="script_code" name="script_code" placeholder='<script async src=&quot;https://www.googletagmanager.com/gtag/js?id=ID&quot;></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag("js", new Date());
gtag("config", "ID");
</script>" spellcheck="false">'></textarea>
                        <div class="d-flex flex-column flex-lg-row align-items-center mt-3">
                            <button id="user-code-copy-button" class="btn btn-sm btn-primary copy-button mr-3 ml-0" data-clipboard-target>Add this script</button>
                            <span id="code_invalid_error" class="alert alert-danger m-0 d-inline-block">ERROR: Code invalid</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="builder_zone card shadow mt-4" id="copy_cookie_consent">
                <a href="#" class="card-body d-flex justify-content-between align-items-center" aria-expanded="true" data-toggle="collapse" data-target="#card4">
                    <span class="mb-0 h4">4.Copy your Cookie Consent code</span>
                    <span class="mb-0 h3"><i class="d-inline-block icon icon-arrow-down"></i></span>
                </a>
                <div class="card-body collapse show" id="card4">
                    <p>You're done. Copy your Cookie Consent code below and begin to adjust your JavaScript scripts.</p>
                    <div class="form-group">
                        <div class="alert alert-info font-weight-bold position-relative">
                            <code class="text-info">&lt;!-- Cookie Consent by https://www.FreePrivacyPolicy.com --&gt;<br>
                                &lt;script type="text/javascript" src="//www.FreePrivacyPolicy.com/cookie-consent/releases/3.0.0/cookie-consent.js"&gt;&lt;/script&gt;<br>
                                &lt;script type="text/javascript"&gt;<br>
                                document.addEventListener('DOMContentLoaded', function () {<br>
                                cookieconsent.run({"notice_banner_type":"headline","consent_type":"implied","palette":"dark","change_preferences_selector":"#changePreferences","language":"en"});<br>
                                });<br>
                                &lt;/script&gt;<br>
                                &lt;noscript&gt;GDPR Cookie Consent by &lt;a href="https://www.freeprivacypolicy.com/"&gt;FreePrivacyPolicy&lt;/a&gt;&lt;/noscript&gt;<br>
                                &lt;!-- End Cookie Consent --&gt;</code>
                            <a href="#" id="copy_consent_code" class="btn btn-sm btn-primary medium py-1">Copy Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>