
<div class="builder-sidebar" data-scroll-header>
    <div class="card bg-primary steps mb-3 mb-lg-0">
        <div class="card-body d-none d-lg-block">
            <h5 class="text-white mb-0">Progress</h5>
        </div>
        <div class="list-group flex-row flex-lg-column step-indicator">
            <a href="#compliance_preference" class="list-group-item step-item active">
                <span class="step-circle"><i class="icon icon-checkmark"></i> <span class="step-number">1</span></span>
                <span class="step-label">
                Choose your compliance</a>
            </span>
            <a href="#customize_cookie_consent" class="list-group-item step-item">
                <span class="step-circle"><i class="icon icon-checkmark"></i> <span class="step-number">2</span></span>
                <span class="step-label">
                    Customize your Cookie Consent</a>
            </span>
            <a href="#add_js_scripts" class="list-group-item step-item">
                <span class="step-circle"><i class="icon icon-checkmark"></i> <span class="step-number">3</span></span>
                <span class="step-label">
                    Add and organize your JavaScript scripts</a>
            </span>
            <a href="#copy_cookie_consent" class="list-group-item step-item">
                <span class="step-circle"><i class="icon icon-checkmark"></i> <span class="step-number">4</span></span>
                <span class="step-label">
                    Copy your Cookie Consent code</a>
            </span>
        </div>
    </div>
    <div class="card bg-primary mt-4 live_preview">
        <div class="card-body">
            <h5 class="text-white text-center mb-0 d-none d-lg-block">Live Preview</h5>
            <img src="./assets/browser_preview.png" class="img-fluid d-none mt-3 d-lg-block" alt="">
            <a href="#" class="btn btn-block btn-sm btn-white mt-0 mt-lg-3"  data-toggle="modal" data-target="#live-preview">Live Preview</a>
        </div>
    </div>
</div>

