<div class="col-xl-3 col-lg-4 mt-5 mt-xl-0">
    <div class="card h-auto h-lg-100 related-post position-relative">
        <a href="#" class="">
            <img src="./assets/post.png" alt="blog post image" class="card-img-top object-fit-cover">
        </a>
        <div class="card-body">
            <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
            <p class="card-text mb-auto">
                Lorem ipsum dolor sit amet sit amet   Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet  Lorem ipsum dolor sit amet sit amet 
            </p>
        </div>
        <a href="#" class="card-footer position-lg-absolute fixed-bottom position-static d-flex align-items-center justify-content-between">
            <span class="text-uppercase">Read More</span>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 mt-5 mt-xl-0">
    <div class="card h-auto h-lg-100 related-post position-relative">
        <a href="#" class="">
            <img src="./assets/post.png" alt="blog post image" class="card-img-top object-fit-cover">
        </a>
        <div class="card-body">
            <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
            <p class="card-text mb-auto">
                Lorem ipsum dolor sit amet  Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet  Lorem ipsum dolor sit amet sit amet 
            </p>
        </div>
        <a href="#" class="card-footer position-lg-absolute fixed-bottom position-static d-flex align-items-center justify-content-between">
            <span class="text-uppercase">Read More</span>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 mt-5 mt-xl-0">
    <div class="card h-auto h-lg-100 related-post position-relative">
        <a href="#" class="">
            <img src="./assets/post.png" alt="blog post image" class="card-img-top object-fit-cover">
        </a>
        <div class="card-body">
            <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
            <p class="card-text mb-auto">
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet 
            </p>
        </div>
        <a href="#" class="card-footer position-lg-absolute fixed-bottom position-static d-flex align-items-center justify-content-between">
            <span class="text-uppercase">Read More</span>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 mt-5 mt-xl-0">
    <div class="card h-auto h-lg-100 related-post position-relative">
        <a href="#" class="">
            <img src="./assets/post.png" alt="blog post image" class="card-img-top object-fit-cover">
        </a>
        <div class="card-body">
            <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
            <p class="card-text mb-auto">
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet 
            </p>
        </div>
        <a href="#" class="card-footer position-lg-absolute fixed-bottom position-static d-flex align-items-center justify-content-between">
            <span class="text-uppercase">Read More</span>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 mt-5 ">
    <div class="card h-auto h-lg-100 related-post position-relative">
        <a href="#" class="">
            <img src="./assets/post.png" alt="blog post image" class="card-img-top object-fit-cover">
        </a>
        <div class="card-body">
            <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
            <p class="card-text mb-auto">
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet 
            </p>
        </div>
        <a href="#" class="card-footer position-lg-absolute fixed-bottom position-static d-flex align-items-center justify-content-between">
            <span class="text-uppercase">Read More</span>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 mt-5 ">
    <div class="card h-auto h-lg-100 related-post position-relative">
        <a href="#" class="">
            <img src="./assets/post.png" alt="blog post image" class="card-img-top object-fit-cover">
        </a>
        <div class="card-body">
            <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
            <p class="card-text mb-auto">
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet 
            </p>
        </div>
        <a href="#" class="card-footer position-lg-absolute fixed-bottom position-static d-flex align-items-center justify-content-between">
            <span class="text-uppercase">Read More</span>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 mt-5 ">
    <div class="card h-auto h-lg-100 related-post position-relative">
        <a href="#" class="">
            <img src="./assets/post.png" alt="blog post image" class="card-img-top object-fit-cover">
        </a>
        <div class="card-body">
            <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
            <p class="card-text mb-auto">
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet 
            </p>
        </div>
        <a href="#" class="card-footer position-lg-absolute fixed-bottom position-static d-flex align-items-center justify-content-between">
            <span class="text-uppercase">Read More</span>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 mt-5 ">
    <div class="card h-auto h-lg-100 related-post position-relative">
        <a href="#" class="">
            <img src="./assets/post.png" alt="blog post image" class="card-img-top object-fit-cover">
        </a>
        <div class="card-body">
            <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
            <p class="card-text mb-auto">
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet Lorem ipsum dolor sit amet sit amet 
            </p>
        </div>
        <a href="#" class="card-footer position-lg-absolute fixed-bottom position-static d-flex align-items-center justify-content-between">
            <span class="text-uppercase">Read More</span>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>