<div class="dropdown d-block d-lg-none" id="dropdown">
    <a href="#" id="floating-menu" class="position-fixed floating-menu align-items-center justify-content-center  btn btn-primary text-normal" data-toggle="dropdown"  data-display="static" aria-haspopup="true" aria-expanded="false">
        <i class="icon icon-close"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item d-flex align-items-center mb-0" href="#">
            <div class="product-icon product-icon-sm product-privacy nav-icon mr-2"></div>
            Privacy Policy Generator
        </a>
        <a class="dropdown-item d-flex align-items-center mb-0" href="#">
            <div class="product-icon product-icon-sm product-terms nav-icon mr-2"></div>
            Terms & Conditions Generator
        </a>
        <a class="dropdown-item d-flex align-items-center mb-0" href="#">
            <div class="product-icon product-icon-sm product-cookie nav-icon mr-2"></div>
            Cookies Policy Generator
        </a>
        <a class="dropdown-item d-flex align-items-center mb-0" href="#">
            <div class="product-icon product-icon-sm product-return nav-icon mr-2"></div>
            Return & Refund Policy Generator
        </a>
        <a class="dropdown-item d-flex align-items-center mb-0" href="#">
            <div class="product-icon product-icon-sm product-disclaimer nav-icon mr-2"></div>
            Disclaimer Generator
        </a>
        <a class="dropdown-item d-flex align-items-center mb-0" href="#">
            <div class="product-icon product-icon-sm product-eula nav-icon mr-2"></div>
            Eula Generator
        </a>
        <a class="dropdown-item d-flex align-items-center mb-0" href="#">
            <div class="product-icon product-icon-sm product-consent nav-icon mr-2"></div>
            Cookie Consent
        </a>
    </div>
</div>