@@if (!context.mode) {
  @@include('slider.html')
}
@@if (context.mode === 'no-slider') {
  
}

<footer class="pt-6">
    <!-- top footer -->
    <div class="top-footer pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-sm-12 d-sm-inline">
                    <a class="navbar-brand" href="#"><img src="./assets/logo-brand.svg" width="48" alt=""></a>
                </div>
                <div class="col-lg-2 offset-lg-1 col-sm-6 mt-4 mt-lg-0 order-sm-2 order-md-2">
                    <p class="h5">Pages</p>
                    <ul class="navbar-nav mt-4">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4 mt-lg-0 col-sm col-md-6 order-sm-1 order-lg-3">
                    <p class="h5">Products</p>
                    <ul class="navbar-nav mt-4">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Privacy Policy Generator</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Terms & Conditions Generator</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Cookies Policy Generator</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Cookie Consent</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Return & Refund Policy Generator</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Disclaimer Generator</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Eula Generator</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4 mt-lg-0 d-sm-inline order-4">
                    <p class="h5">From our Blog</p>
                    <ul class="navbar-nav mt-4">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Terms and Conditions for E-commerce Stores</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Sample Terms and Conditions Template</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">A Privacy Policy For Squarespace Websites</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Creating a Privacy Policy When Using Instagram's API</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 mt-4 mt-lg-0 d-sm-inline order-5">
                    <p class="h5">Follow Us</p>
                    <div class="social-icons navbar-nav flex-row mt-4">
                        <a href="#" class="nav-link d-flex align-items-center justify-content-center mr-2">
                            <i class="icon icon-facebook"></i>
                        </a>
                        <a href="#" class="nav-link d-flex align-items-center justify-content-center mr-2">
                            <i class="icon icon-twitter"></i>
                        </a>
                        <a href="#" class="nav-link d-flex align-items-center justify-content-center">
                            <i class="icon icon-youtube"></i>
                        </a>
                    </div>
                    <p class="h5 mt-5">Language</p>
                    <div class="btn-group mt-2">
                        <a href="#" class="btn btn-sm btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            English
                        </a>
                        <!-- dropdown items -->
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Lang</a>
                            <a href="#" class="dropdown-item">Lang</a>
                            <a href="#" class="dropdown-item">Lang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end top footer -->
    <hr class="m-0">
    <!-- bottom footer -->
    <div class="bottom-footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <p class="h6 text-dark">Copyright &copy; 2008 - 2019 FreePrivacyPolicy, All Rights Reserved.</p>
                </div>
                <div class="col-md-12 col-lg-6 mt-4 mt-md-0">
                    <ul class="nav mt-3 mt-sm-0 flex-column flex-sm-row">
                        <li class="nav-item mt-2 mt-md-0">
                            <a href="#" class="nav-link font-weight-bold p-0 mr-4">Our Terms of Use</a>
                        </li>
                        <li class="nav-item mt-2 mt-md-0">
                            <a href="#" class="nav-link font-weight-bold p-0 mr-4">Our Privacy Policy</a>
                        </li>
                        <li class="nav-item mt-2 mt-md-0">
                            <a href="#" class="nav-link font-weight-bold p-0 mr-4">Our Security Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5 pb-6">
                <div class="col">
                    <p class="bottom-footer-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum magni
                        modi harum odit quo, numquam excepturi! A eaque, consequatur architecto accusamus dicta ipsa
                        fugit illo ipsum nisi. Possimus, dolore cupiditate?</p>
                </div>
            </div>
        </div>
    </div><!-- end bottom footer -->
</footer>
@@include('scroll-to-top.html')
@@include('floating-product-menu.html')
@@include('product-modal.html')

