<header>
    <nav class="navbar navbar-expand-lg navbar-light" data-navbar="light">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="./assets/logo-original.svg" height="41" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item d-flex align-items-center mb-0" href="#">
                                <div class="product-icon product-icon-sm product-privacy nav-icon mr-2"></div>
                                Privacy Policy Generator
                            </a>
                            <a class="dropdown-item d-flex align-items-center mb-0" href="#">
                                <div class="product-icon product-icon-sm product-terms nav-icon mr-2"></div>
                                Terms & Conditions Generator
                            </a>
                            <a class="dropdown-item d-flex align-items-center mb-0" href="#">
                                <div class="product-icon product-icon-sm product-cookie nav-icon mr-2"></div>
                                Cookies Policy Generator
                            </a>
                            <a class="dropdown-item d-flex align-items-center mb-0" href="#">
                                <div class="product-icon product-icon-sm product-return nav-icon mr-2"></div>
                                Return & Refund Policy Generator
                            </a>
                            <a class="dropdown-item d-flex align-items-center mb-0" href="#">
                                <div class="product-icon product-icon-sm product-disclaimer nav-icon mr-2"></div>
                                Disclaimer Generator</a>
                            <a class="dropdown-item d-flex align-items-center mb-0" href="#">
                                <div class="product-icon product-icon-sm product-eula nav-icon mr-2"></div>
                                Eula Generator
                            </a>
                            <a class="dropdown-item d-flex align-items-center mb-0" href="#">
                                <div class="product-icon product-icon-sm product-consent nav-icon mr-2"></div>
                                Cookie Consent
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item ml-lg-3 mt-3 mt-lg-0">
                        <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#product-modal">Try it for free</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>