<div class="modal fade p-0" id="live-preview" tabindex="-1" role="dialog" aria-labelledby="live-preview" aria-hidden="true">
    <div class="modal-dialog h-100 mw-100 overflow-auto m-0 " role="document">
        <div class="modal-content border-0 rounded-0  overflow-auto h-100">
            <div class="container">
                <div class="modal-header text-white border-0 ">
                    <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close">
                        <i class="icon icon-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body mt-4 bg-white p-0 border-0">
                    <div class="browser">
                        <div class="top">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <div class="content">
                            <div id="demo_zone">
                                <iframe frameborder="0" width="100%" height="500px" src="https://www.FreePrivacyPolicy.com/cookie-consent/preview.php?data=eyJub3RpY2VfYmFubmVyX3R5cGUiOiJoZWFkbGluZSIsImNvbnNlbnRfdHlwZSI6ImltcGxpZWQiLCJwYWxldHRlIjoiZGFyayIsImNoYW5nZV9wcmVmZXJlbmNlc19zZWxlY3RvciI6IiNjaGFuZ2VQcmVmZXJlbmNlcyIsImxhbmd1YWdlIjoiZW4ifQ==" id="mmFrameId_0.10908137759346292"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>