<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a href="#" class="page-link text-uppercase">Previous</a>
        </li>
        <li class="page-item active">
            <a href="#" class="page-link">1</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">2</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">3</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link text-uppercase">Next</a>
        </li>
    </ul>
</nav>