    <!-- How it works -->
    <section class="sect-how-it-works">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="section-title">How it works</h2>
                    <p class="section-subtitle">Let explore the way of creating policies</p>
                </div>
            </div>
            <div class="row py-6">
                <div class="col-lg-6 my-auto">
                    <img src="./assets/illustrations/illustration-create.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 d-flex align-items-center mt-5 mt-lg-0">
                    <div>
                        <div class="d-flex">
                            <div class="mr-2">
                                <svg version="1.1" class="shield-icon" id="Layer_1" width="40" height="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 80" style="enable-background:new 0 0 64 80;" xml:space="preserve">
                                    <style type="text/css">
                                    .st0 {
                                        fill: url(#Path_155-2_1_);

                                    }

                                    .st1 {
                                        fill: #FFFFFF;
                                        font-family: 'Proxima Nova';
                                    }

                                    .st2 {}

                                    .st3 {
                                        font-size: 2rem;


                                    }
                                    </style>
                                    <g>
                                        <linearGradient id="Path_155-2_1_" gradientUnits="userSpaceOnUse" x1="-642.1846" y1="420.692" x2="-642.1846" y2="419.3013" gradientTransform="matrix(46.018 0 0 -57.528 29584.0527 24201.5469)">
                                            <stop offset="0" style="stop-color:#8472FF" />
                                            <stop offset="1" style="stop-color:#553DF4" />
                                        </linearGradient>
                                        <path id="Path_155-2" class="st0" d="M48,0H0v48c0,0.6,0,1.1,0.1,1.6C1,57.8,8.5,65.2,16,70.6c3.8,2.7,7.8,5.2,12,7.4l0.5,0.3
                                           l0.3,0.2l0.1,0c1.9,1,3.1,1.5,3.1,1.5s1.2-0.5,3.1-1.5l0.1,0l0.3-0.1L36,78c4.2-2.2,8.2-4.6,12-7.4c7.5-5.4,15-12.8,15.9-21
                                           C64,49.1,64,48.6,64,48V0H48z" />
                                        <text transform="matrix(1 0 0 1 19.5348 41.7937)" class="st1 st2 st3" x="18%" y="-8%" alignment-baseline="middle" text-anchor="middle">01</text>
                                    </g>
                                </svg>
                            </div>
                            <div>
                                <h3 class="text-primary">Create</h3>
                            </div>
                        </div>
                        <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima tempore eum
                            praesentium deleniti mollitia error aut obcaecati aperiam hic maiores inventore, vel quaerat
                            ea facere molestiae earum debitis soluta, modi itaque, doloribus quos accusantium
                            aspernatur. Quibusdam unde vel officiis commodi.</p>
                    </div>
                </div>
            </div>
            <div class="row py-6">
                <div class="col-lg-6 my-auto order-lg-2">
                    <img src="./assets/illustrations/illustration-access.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 d-flex align-items-center mt-5 mt-lg-0 order-lg-1">
                    <div>
                        <div class="d-flex">
                            <div class="mr-2">
                                <svg version="1.1" class="shield-icon" id="Layer_2" width="40" height="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 80" style="enable-background:new 0 0 64 80;" xml:space="preserve">
                                    <style type="text/css">
                                    .st0 {
                                        fill: url(#Path_155-2_2_);
                                    }

                                    .st1 {
                                        fill: #FFFFFF;
                                    }

                                    .st2 {
                                        font-family: 'Proxima Nova';
                                        font-weight: bold;
                                    }

                                    .st3 {
                                        font-size: 2rem;

                                    }
                                    </style>
                                    <g>
                                        <linearGradient id="Path_155-2_2_" gradientUnits="userSpaceOnUse" x1="-642.1846" y1="420.692" x2="-642.1846" y2="419.3013" gradientTransform="matrix(46.018 0 0 -57.528 29584.0527 24201.5469)">
                                            <stop offset="0" style="stop-color:#8472FF" />
                                            <stop offset="1" style="stop-color:#553DF4" />
                                        </linearGradient>
                                        <path id="Path_155-2" class="st0" d="M48,0H0v48c0,0.6,0,1.1,0.1,1.6C1,57.8,8.5,65.2,16,70.6c3.8,2.7,7.8,5.2,12,7.4l0.5,0.3
                                            l0.3,0.2l0.1,0c1.9,1,3.1,1.5,3.1,1.5s1.2-0.5,3.1-1.5l0.1,0l0.3-0.1L36,78c4.2-2.2,8.2-4.6,12-7.4c7.5-5.4,15-12.8,15.9-21
                                            C64,49.1,64,48.6,64,48V0H48z" />
                                        <text transform="matrix(1 0 0 1 19.5348 41.7937)" class="st1 st2 st3" x="18%" y="-8%" alignment-baseline="middle" text-anchor="middle">02</text>
                                    </g>
                                </svg>
                            </div>
                            <div>
                                <h4 class="text-primary">Access</h4>
                            </div>
                        </div>
                        <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima tempore eum
                            praesentium deleniti mollitia error aut obcaecati aperiam hic maiores inventore, vel quaerat
                            ea facere molestiae earum debitis soluta, modi itaque, doloribus quos accusantium
                            aspernatur. Quibusdam unde vel officiis commodi.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-6">
                <div class="col-lg-6 my-auto">
                    <img src="./assets/illustrations/illustration-add.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 d-flex align-items-center mt-5 mt-lg-0">
                    <div>
                        <div class="d-flex">
                            <div class="mr-2">
                                <svg version="1.1" class="shield-icon" id="Layer_3" width="40" height="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 80" style="enable-background:new 0 0 64 80;" xml:space="preserve">
                                    <style type="text/css">
                                    .st0 {
                                        fill: url(#Path_155-2_3_);
                                    }

                                    .st1 {
                                        fill: #FFFFFF;
                                    }

                                    .st2 {
                                        font-family: 'Proxima Nova';
                                        font-weight: bold;
                                    }

                                    .st3 {
                                        font-size: 2rem;

                                    }
                                    </style>
                                    <g>
                                        <linearGradient id="Path_155-2_3_" gradientUnits="userSpaceOnUse" x1="-642.1846" y1="420.692" x2="-642.1846" y2="419.3013" gradientTransform="matrix(46.018 0 0 -57.528 29584.0527 24201.5469)">
                                            <stop offset="0" style="stop-color:#8472FF" />
                                            <stop offset="1" style="stop-color:#553DF4" />
                                        </linearGradient>
                                        <path id="Path_155-2" class="st0" d="M48,0H0v48c0,0.6,0,1.1,0.1,1.6C1,57.8,8.5,65.2,16,70.6c3.8,2.7,7.8,5.2,12,7.4l0.5,0.3
                                            l0.3,0.2l0.1,0c1.9,1,3.1,1.5,3.1,1.5s1.2-0.5,3.1-1.5l0.1,0l0.3-0.1L36,78c4.2-2.2,8.2-4.6,12-7.4c7.5-5.4,15-12.8,15.9-21
                                            C64,49.1,64,48.6,64,48V0H48z" />
                                        <text transform="matrix(1 0 0 1 19.5348 41.7937)" class="st1 st2 st3" x="18%" y="-8%" alignment-baseline="middle" text-anchor="middle">03</text>
                                    </g>
                                </svg>
                            </div>
                            <div>
                                <h4 class="text-primary">Add</h4>
                            </div>
                        </div>
                        <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima tempore eum
                            praesentium deleniti mollitia error aut obcaecati aperiam hic maiores inventore, vel quaerat
                            ea facere molestiae earum debitis soluta, modi itaque, doloribus quos accusantium
                            aspernatur. Quibusdam unde vel officiis commodi.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End How it works -->
    <!-- About section -->
    <section class="sect-about">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3 class="h1">About FreePrivacyPolicy.com</h3>
                </div>
            </div>
            <div class="row py-6">
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h4 class="h2 mb-4">Who We Are</h4>
                        <p>The #1 Online Privacy Policy Generator! Here at Free Privacy Policy, we've helped 815,960
                            website owners create seasy-to-read, highly effective, custom privacy policies.</p>
                        <p>Our intuitive, easy-to-use system allows you to create a custom privacy policy using our free
                            website privacy policy generator.</p>
                        <p>All you do is answer a few simple question about your business and your website privacy
                            policy is created and ready to add to your site. In fact, for most people it takes less than
                            15 minutes.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-8 offset-sm-2 offset-lg-1 mt-5 mt-lg-0">
                    <img src="./assets/illustrations/illustration-who.png" alt="" class="img-fluid mb-5">
                </div>
            </div>
            <div class="row py-6">
                <div class="col-lg-6 order-1 order-lg-0">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 mt-3 mt-lg-0">
                            <div class="card-1 position-static position-lg-relative">
                                <div class="card">
                                    <div class="card-body pt-4 text-center align-items-center">
                                        <i class="icon-circle icon icon-user text-brand-purple alert-brand-purple rounded-circle"></i>
                                        <h3 class="mb-0 mt-3">10.000</h3>
                                        <p class="mb-0">Users</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 mt-3 mt-lg-4">
                            <div class="card-3">
                                <div class="card">
                                    <div class="card-body pt-4 text-center align-items-center">
                                        <i class="icon-circle icon icon-document text-secondary alert-secondary rounded-circle"></i>
                                        <h3 class="mb-0 mt-3">180.325</h3>
                                        <p class="mb-0">Documents Created</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 mt-3 mt-lg-0">
                            <div class="card-2 position-static position-lg-relative">
                                <div class="card">
                                    <div class="card-body pt-4 text-center align-items-center">
                                        <i class="icon-circle icon icon-dollar text-brand-green alert-brand-green rounded-circle"></i>
                                        <h3 class="mb-0 mt-3">5.158.158,15</h3>
                                        <p class="mb-0">Saved on Legal Fees</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h4 class="h2 mb-4">Our numbers</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptate cupiditate non
                            recusandae ab rem numquam eius labore voluptatum nihil, nesciunt quasi natus aspernatur
                            incidunt iure nam voluptatibus dignissimos illo.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="#" class="btn btn-primary">Start Creating Privacy Policy</a>
                </div>
            </div>
        </div>
    </section><!-- End About section -->
    <!-- What our customers says -->
    <section class="sect-customers bg-light">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <i class="icon icon-quote display-4 text-muted"></i>
                    <h3 class="h1 section-title mt-4">What our customers says</h3>
                    <p class="section-subtitle">Rated <span class="text-secondary h6">
                            <i class="icon icon-star"></i>
                            <i class="icon icon-star"></i>
                            <i class="icon icon-star"></i>
                            <i class="icon icon-star"></i>
                            <i class="icon icon-star"></i>
                        </span> 4.9 by our customers</p>
                </div>
            </div>
            <div class="row py-6">
                <div class="col-sm-12 col-md-6 col-lg mt-4 mt-lg-0">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6 class="mb-0">Ruttger McArtan</h6>
                            <span class="text-secondary small">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2 mb-6">Super Fast. Super Easy</p>
                            <p class="medium font-weight-bold position-absolute fixed-bottom">23-Feb-2019.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg mt-4 mt-lg-0">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6 class="mb-0">Amalle Eubank</h6>
                            <span class="text-secondary small">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2 mb-6">Easy-peasy! Thanks, FreePrivacyPolicy!</p>
                            <p class="medium font-weight-bold position-absolute fixed-bottom">23-Feb-2019.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg mt-4 mt-lg-0">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6 class="mb-0">Carmon Bisiker</h6>
                            <span class="text-secondary small">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2 mb-6">Good</p>
                            <p class="medium font-weight-bold position-absolute fixed-bottom">23-Feb-2019.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg mt-4 mt-lg-0">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6 class="mb-0">Mercie Shitliffe</h6>
                            <span class="text-secondary small">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2 mb-6">nice and straight forward user friendly</p>
                            <p class="medium font-weight-bold position-absolute fixed-bottom">23-Feb-2019.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="#" class="btn btn-brand-pink">READ ALL REVIEWS</a>
                </div>
            </div>
        </div>
    </section><!-- End What our customers says -->