<!-- Start Creating Privacy Policy -->
<section class="sect-create-privacypolicy bg-primary">
    <div class="container">
        <!-- header -->
        <div class="row">
            <div class="col text-center">
                <h3 class="h1 section-title text-white">Start Creating Privacy Policy</h3>
                <p class="section-subtitle text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Beatae, nobis cum ab ad repudiandae rerum soluta velit ut ducimus odit fugiat? Quisquam animi
                    sapiente, nobis itaque, similique vero, consequuntur exercitationem molestiae eius magnam
                    corrupti tenetur.</p>
            </div>
        </div>
    </div>
    <!-- slider -->
    <div class="product-slider mt-5">
        <a href="#" class="card card-product h-100">
            <span class="card-body d-block text-center">
                <span class="d-inline-block product-icon product-privacy"></span>
                <span class="d-block h5 mt-3">Privacy Policy Generator</span>
            </span>
        </a>
        <a href="#" class="card card-product h-100">
            <span class="card-body d-block text-center">
                <span class="d-inline-block product-icon product-terms"></span>
                <span class="d-block h5 mt-3">Terms & Conditions Generator</span>
            </span>
        </a>
        <a href="#" class="card card-product h-100">
            <span class="card-body d-block text-center">
                <span class="d-inline-block product-icon product-cookie"></span>
                <span class="d-block h5 mt-3">Cookies Policy Generator</span>
            </span>
        </a>
        <a href="#" class="card card-product h-100">
            <span class="card-body d-block text-center">
                <span class="d-inline-block product-icon product-return"></span>
                <span class="d-block h5 mt-3">Return & Refund Policy Generator</span>
            </span>
        </a>
        <a href="#" class="card card-product h-100">
            <span class="card-body d-block text-center">
                <span class="d-inline-block product-icon product-disclaimer"></span>
                <span class="d-block h5 mt-3">Disclaimer Generator</span>
            </span>
        </a>
        <a href="#" class="card card-product h-100">
            <span class="card-body d-block text-center">
                <span class="d-inline-block product-icon product-eula"></span>
                <span class="d-block h5 mt-3">Eula Generator</span>
            </span>
        </a>
        <a href="#" class="card card-product h-100">
            <span class="card-body d-block text-center">
                <span class="d-inline-block product-icon product-consent"></span>
                <span class="d-block h5 mt-3">Cookie Consent</span>
            </span>
        </a>
    </div>
    <!-- arrows -->
    <div class="container">
        <div class="row mt-5">
            <div class="col text-center">
                <div class="btn-group slider-control" role="group" aria-label="slider control">
                    <button type="button" class="btn btn-outline-white btn-sm py-0" id="prev"><i class="icon icon-arrow-left"></i></button>
                    <button type="button" class="btn btn-outline-white btn-sm py-0" id="next"><i class="icon icon-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    @@include('sections/flying-paper-bg.html')
</section>