@mixin gradient-bg($color) {
	
  @if $enable-gradients {
    background: $color linear-gradient(180deg, lighten(saturate($color, 10.73), 14.12), darken(saturate(adjust-hue($color, -6), 8.91), 16.86)) repeat-x;
  }
  @if ($color == $white) {
		background:$color !important;

  }
   @else {
    background-color: $color;
  }
}