.product-icon {
    @each $color, $icon in $product-icons {
        $color: map-get($colors, $color);

        &.#{$icon} {
            box-shadow: 0 0.2rem 0.975rem rgba($color, 0.4);
        }

        &.product-icon-sm {
            &.#{$icon} {
                box-shadow: 0 0.2rem 0.4375rem rgba($color, 0.2);
            }
        }
    }
}