<!doctype html>
<html lang="en">

<head>
    @@include('partials/head.html')
</head>

<body>
    @@include("partials/header.html", {"mode": "light"})
    <section class="sect-hero sect-hero-features pt-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <img src="./assets/illustrations/illustration-404.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-lg-10 offset-lg-1">
                    <h1 class="hero-title ">This page was lost</h1>
                    <p class="h6">The page you are looking for not exsits</p>
                    <p class="mt-4"><a href="#" class="btn btn-primary btn-sm">Go To HomePage</a>
                </div>
            </div>
        </div>
    </section>
    @@include('partials/footer.html', {"mode": "no-slider"})
    @@include('partials/script.html')
</body>

</html>