<!doctype html>
<html lang="en">

<head>
    @@include('partials/head.html')
</head>

<body>
    @@include('partials/header.html', {"mode": "transparent"})
    <section class="sect-hero sect-hero-blog bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 offset-lg-1">
                    <h1 class="display-3 hero-title text-white">Blog</h1>
                    <p class="h3 hero-subtitle font-weight-normal text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dolor? Ducimus soluta corrupti velit. Iusto, voluptates?</p>
                </div>
            </div>
            <!-- blog card -->
        </div>
    </section>
    <section class="sect-featured-post py-0 mt-n6">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card blog-post featured-post border-0 shadow-lg position-relative">
                        <div class="row no-gutters">
                            <a href="#" class="col-lg-6">
                                <img src="./assets/post.png" alt="blog post image" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="col-lg-6 d-flex flex-column">
                                <div class="card-body">
                                    <h3 class="card-title">Terms and Conditions for E-commerce Stores</h3>
                                    <p class="card-text mb-auto">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquid asperiores est earum qui eligendi nemo quibusdam dignissimos facere veritatis, amet quod odio minima eum a voluptate nesciunt consectetur rem?
                                    </p>
                                </div>
                                <a href="#" class="card-footer d-flex align-items-center justify-content-between">
                                    <span class="text-uppercase">Read More</span>
                                    <i class="icon icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-blog-posts">
        <div class="container">
            
            <!-- button -->
            <div class="row">
                <div class="btn-group col-sm-12 col-md-3 col-lg-auto ml-auto" role="group">
                    <button id="categoryDrop" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Privacy Policy
                    </button>
                    <div class="dropdown-menu" aria-labelledby="categoryDrop">
                        <a href="#" class="dropdown-item">Category 2</a>
                        <a href="#" class="dropdown-item">Category 3</a>
                        <a href="#" class="dropdown-item">Category 4</a>
                        <a href="#" class="dropdown-item">Category 5</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card blog-post position-relative">
                        <div class="row no-gutters">
                            <a href="#" class="col-lg-4">
                                <img src="./assets/post.png" alt="blog post image" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="col-lg-8 d-flex flex-column">
                                <div class="card-body">
                                    <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
                                    <p class="card-text mb-auto">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquid asperiores est earum qui eligendi nemo quibusdam dignissimos facere veritatis, amet quod odio minima eum a voluptate nesciunt consectetur rem?
                                    </p>
                                </div>
                                <a href="#" class="card-footer d-flex align-items-center justify-content-between">
                                    <span class="text-uppercase">Read More</span>
                                    <i class="icon icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="card blog-post position-relative">
                        <div class="row no-gutters">
                            <a href="#" class="col-lg-4">
                                <img src="./assets/post.png" alt="blog post image" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="col-lg-8 d-flex flex-column">
                                <div class="card-body">
                                    <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
                                    <p class="card-text mb-auto">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquid asperiores est earum qui eligendi nemo quibusdam dignissimos facere veritatis, amet quod odio minima eum a voluptate nesciunt consectetur rem?
                                    </p>
                                </div>
                                <a href="#" class="card-footer d-flex align-items-center justify-content-between">
                                    <span class="text-uppercase">Read More</span>
                                    <i class="icon icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="card blog-post position-relative">
                        <div class="row no-gutters">
                            <a href="#" class="col-lg-4">
                                <img src="./assets/post.png" alt="blog post image" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="col-lg-8 d-flex flex-column">
                                <div class="card-body">
                                    <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
                                    <p class="card-text mb-auto">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquid asperiores est earum qui eligendi nemo quibusdam dignissimos facere veritatis, amet quod odio minima eum a voluptate nesciunt consectetur rem? Vero aliquid asperiores est earum qui eligendi nemo quibusdam dignissimos facere veritatis, amet quod odio minima eum a voluptate nesciunt consectetur rem?
                                    </p>
                                </div>
                                <a href="#" class="card-footer d-flex align-items-center justify-content-between">
                                    <span class="text-uppercase">Read More</span>
                                    <i class="icon icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="card blog-post position-relative">
                        <div class="row no-gutters">
                            <a href="#" class="col-lg-4">
                                <img src="./assets/post.png" alt="blog post image" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="col-lg-8 d-flex flex-column">
                                <div class="card-body">
                                    <h4 class="card-title h4"><a href="#" class="text-headline">Terms and Conditions for E-commerce Stores</a></h4>
                                    <p class="card-text mb-auto">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquid asperiores est earum qui eligendi nemo quibusdam dignissimos facere veritatis, amet quod odio minima eum a voluptate nesciunt consectetur rem?
                                    </p>
                                </div>
                                <a href="#" class="card-footer d-flex align-items-center justify-content-between">
                                    <span class="text-uppercase">Read More</span>
                                    <i class="icon icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- pagination -->
            <div class="row pt-5">
                <div class="col">
                    @@include('partials/pagination.html')
                </div>
            </div>
        </div>
    </section>
    
    @@include('partials/footer.html')
    @@include('partials/script.html')
</body>

</html>