<!doctype html>
<html lang="en">

<head>
    @@include('partials/head.html')
</head>

<body>
    @@include('partials/header-light.html')
    <!-- header -->
    <section class="sect-contact sect-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="section-title display-3 font-weight-normal">Contact Us</h1>
                    <h4 class="section-subtitle font-weight-normal">Contact us by email</h4>
                    <a href="#" class="h5 text-primary">office@freeprivacypolicy.com</a>
                    <p class="mt-4">If you haven't recieved your Privacy Policy or Login email yet, please check your spam or junk folder before contacting us.</p>
                    <p>Try to provide as much detail as you can to help our team resolve your issues quickly.</p>
                </div>
                <div class="col-lg-6">
                    <img src="./assets/illustrations/illustration-contact.png" alt="contact" class="img-fluid">
                </div>
            </div>
        </div>
    </section><!-- end header -->
    @@include('partials/footer.html')
    @@include('partials/script.html')
</body>

</html>