<!doctype html>
<html lang="en">

<head>
    @@include('partials/head.html')
</head>

<body>
    @@include('partials/header-light.html')
    <section class="sect-hero sect-hero-features">
        <div class="container">
            <div class="row text-center ">
                <div class="col-lg-10 offset-lg-1">
                    <h1 class="display-3 hero-title ">Features</h1>
                    <p class="h3 hero-subtitle">Sed ut perspiciatis unde omnis error</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-8 offset-lg-2">
                    <img src="./assets/illustrations/illustration-features.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- icons -->
    <section class="sect-features">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <!-- image icon  -->
                    <i class="icon icon-circle icon-click alert-primary text-primary rounded-circle ml-0 mt-lg-0"></i>
                    <p class="h5 mt-4">1 click activation</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iure repellendus distinctio.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <!-- image icon  -->
                    <i class="icon icon-circle icon-padlock display-4 text-brand-green alert-brand-green rounded-circle ml-0 mt-lg-0"></i>
                    <p class="h5 mt-4">GDPR ready</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <!-- image icon  -->
                    <i class="icon icon-circle icon-magic-wand display-4 text-secondary alert-secondary rounded-circle ml-0 mt-lg-0"></i>
                    <p class="h5 mt-4">Guided Process</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <!-- image icon  -->
                    <i class="icon icon-circle icon-desktop display-4 text-brand-blue alert-brand-blue rounded-circle ml-0 mt-lg-0"></i>
                    <p class="h5 mt-4">Multiple Integrations</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <!-- image icon  -->
                    <i class="icon icon-circle icon-click display-4 text-primary alert-primary rounded-circle ml-0 mt-lg-0"></i>
                    <p class="h5 mt-4">1 click activation</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iure repellendus distinctio.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <!-- image icon  -->
                    <i class="icon icon-circle icon-padlock display-4 text-brand-green alert-brand-green rounded-circle ml-0 mt-lg-0"></i>
                    <p class="h5 mt-4">GDPR ready</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <!-- image icon  -->
                    <i class="icon icon-circle icon-magic-wand display-4 text-secondary alert-secondary rounded-circle ml-0 mt-lg-0"></i>
                    <p class="h5 mt-4">Guided Process</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <!-- image icon  -->
                    <i class="icon icon-circle icon-desktop display-4 text-brand-blue alert-brand-blue rounded-circle ml-0 mt-lg-0"></i>
                    <p class="h5 mt-4">Multiple Integrations</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-platform">
        <div class="container">
            <div class="row pb-6">
                <div class="col-lg-6 my-auto">
                    <img src="https://place-hold.it/400x400/#ccc" alt="" class="img-fluid mb-5">
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h4 class="h2 mb-4">Choose Your Platform</h4>
                        <p class="mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam numquam veniam eveniet eligendi architecto nemo quo cupiditate laboriosam maiores, officia impedit sapiente reprehenderit hic earum laborum dolorum? A, quaerat quibusdam.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-6">
                <div class="col-lg-6 d-flex align-items-center order-1 order-sm-2">
                    <div>
                        <h4 class="h2 mb-4">Build Your Policy</h4>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, nostrum?</p>
                        <div class="d-flex">
                            <div class="align-self-start mr-3">
                                <!-- checkmark icon -->
                                <i class="icon icon-checkmark h3 text-brand-green"></i>
                            </div>
                            <div class="align-self-end">
                                <p>Privacy Policy Generator</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-start mr-3">
                                <!-- checkmark icon -->
                                <i class="icon icon-checkmark h3 text-brand-green"></i> </div>
                            <div class="align-self-end">
                                <p>Terms & Conditions Generator</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-start mr-3">
                                <!-- checkmark icon -->
                                <i class="icon icon-checkmark h3 text-brand-green"></i> </div>
                            <div class="align-self-end">
                                <p>Cookies Policy Generator</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-start mr-3">
                                <!-- checkmark icon -->
                                <i class="icon icon-checkmark h3 text-brand-green"></i> </div>
                            <div class="align-self-end">
                                <p>Cookie Consent</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-start mr-3">
                                <!-- checkmark icon -->
                                <i class="icon icon-checkmark h3 text-brand-green"></i> </div>
                            <div class="align-self-end">
                                <p>Return & Refund Policy Generator</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-start mr-3">
                                <!-- checkmark icon -->
                                <i class="icon icon-checkmark h3 text-brand-green"></i> </div>
                            <div class="align-self-end">
                                <p>Disclaimer Generator</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-start mr-3">
                                <!-- checkmark icon -->
                                <i class="icon icon-checkmark h3 text-brand-green"></i> </div>
                            <div class="align-self-end">
                                <p>Eula Generator</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 my-auto order-lg-2">
                    <img src="https://place-hold.it/400x400/#ccc" alt="" class="img-fluid mb-5">
                </div>
            </div>
        </div>
    </section>
    @@include('partials/sections.html')
    @@include('partials/footer.html')
    @@include('partials/script.html')
</body>

</html>