<!doctype html>
<html lang="en">

<head>
    @@include('partials/head.html')
</head>

<body class="landing-disclaimer">
    @@include("partials/header.html", {"mode": "transparent"})
    <section class="sect-hero sect-landing-hero bg-brand-turquoise">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-1 order-lg-0 text-center text-lg-left z-index-1">
                    <h1 class="display-4 hero-title text-white">Disclaimer Policy Generator</h1>
                    <p class="h4 mt-3 hero-subtitle font-weight-normal text-white">Sed ut perspiciatis unde omnis iste natus
                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                        illo
                    </p>
                    <a href="#" class="btn btn-white text-brand-turquoise mt-4">START CREATING DISCLAIMER POLICY</a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="landing-illlustrations">
                        <img src="./assets/illustrations/landing-disclaimer/icon.svg" class="img-landing-icon" alt="">
                        <img src="./assets/illustrations/landing-disclaimer/hill.svg" class="img-landing-hill" alt="">
                        <img src="./assets/illustrations/landing-disclaimer/stain.svg" class="img-landing-stain" alt="">
                    </div>
                </div>
                <img src="./assets/illustrations/landing-disclaimer/hills.svg" class="img-landing-hills" alt="">
    </section>
    @@include('partials/sections/sect-features.html')
    @@include('partials/sections.html')
    @@include('partials/footer.html')
    @@include('partials/script.html')
</body>

</html>