<!doctype html>
<html lang="en">

<head>
    @@include('partials/head.html')
</head>

<body class="landing-cookie">
    @@include("partials/header.html", {"mode": "transparent"})
    <section class="sect-hero sect-landing-hero bg-brand-pink-dark">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-1 order-lg-0 text-center text-lg-left z-index-1">
                    <h1 class="display-4 hero-title text-white">Cookies Policy Generator</h1>
                    <p class="h4 mt-3 hero-subtitle font-weight-normal text-white">Sed ut perspiciatis unde omnis iste natus
                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                        illo
                    </p>
                    <a href="#" class="btn btn-white text-brand-pink mt-4">START CREATING COOKIES POLICY</a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="landing-illlustrations">
                        <img src="./assets/illustrations/landing-cookie/icon.svg" class="img-landing-icon" alt="">
                        <img src="./assets/illustrations/landing-cookie/hill.svg" class="img-landing-hill" alt="">
                        <img src="./assets/illustrations/landing-cookie/stain.svg" class="img-landing-stain" alt="">
                    </div>
                </div>
                <img src="./assets/illustrations/landing-cookie/hills.svg" class="img-landing-hills" alt="">
    </section>
    <section class="sect-verification-tools">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <h3 class="section-title h1">Verification Tools</h3>
                    <p class="section-subtitle font-weight-normal lead">Our Privacy Policy Creator includes several
                        compliance verification tools to help you effectively protect your customers privacy, while
                        limiting your liability, all while adhering to the most notable state and federal privacy laws
                        and 3rd party initiatives, including:</p>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-md-3 col-sm-5 text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-eu"></div>
                    <p class="h6">General Data Protection Regulation (GDPR)</p>
                </div>
                <div class="col-md-3 col-sm-5 text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-eprivacy"></div>
                    <p class="h6">ePrivacy Directive</p>
                </div>
            </div>
        </div>
    </section>
    @@include('partials/sections/sect-features.html')
    @@include('partials/sections.html')
    @@include('partials/footer.html')
    @@include('partials/script.html')
</body>

</html>