<!doctype html>
<html lang="en">

<head>
    @@include('partials/head.html')
</head>

<body class="landing-privacy">
    @@include("partials/header.html", {"mode": "transparent"})
    <section class="sect-hero sect-landing-hero bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-1 order-lg-0 text-center text-lg-left z-index-1">
                    <h1 class="display-4 hero-title text-white">Privacy Policy Generator</h1>
                    <p class="h4 mt-3 hero-subtitle font-weight-normal text-white">Sed ut perspiciatis unde omnis iste natus
                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                        illo
                    </p>
                    <a href="#" class="btn btn-white mt-4">START CREATING PRIVACY POLICY</a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="landing-illlustrations">
                        <img src="./assets/illustrations/landing-privacy/icon.svg" class="img-landing-icon" alt="">
                        <img src="./assets/illustrations/landing-privacy/hill.svg" class="img-landing-hill" alt="">
                        <img src="./assets/illustrations/landing-privacy/stain.svg" class="img-landing-stain" alt="">
                    </div>
                </div>
                <img src="./assets/illustrations/landing-privacy/hills.svg" class="img-landing-hills" alt="">
    </section>
    <section class="sect-verification-tools">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center mb-5">
                    <h3 class="section-title h1">Verification Tools</h3>
                    <p class="section-subtitle font-weight-normal lead">Our Privacy Policy Creator includes several
                        compliance verification tools to help you effectively protect your customers privacy, while
                        limiting your liability, all while adhering to the most notable state and federal privacy laws
                        and 3rd party initiatives, including:</p>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-google-play mb-3"></div>
                    <p class="h6">Google Play requirements for a Privacy Policy</p>
                </div>
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-store mb-3"></div>
                    <p class="h6">Apple Store requirements for a Privacy Policy</p>
                </div>
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-adsense mb-3"></div>
                    <p class="h6">Google AdSense requirements for a Privacy Policy</p>
                </div>
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-adwords mb-3"></div>
                    <p class="h6">Google AdWords requirements for a Privacy Policy</p>
                </div>
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-analytics mb-3"></div>
                    <p class="h6">Google Analytics requirements for a Privacy Policy</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-eu mb-3"></div>
                    <p class="h6">General Data Protection Regulation (GDPR)</p>
                </div>
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-california mb-3"></div>
                    <p class="h6">California Online Privacy Protection Act (CalOPPA)</p>
                </div>
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-commission mb-3"></div>
                    <p class="h6">Federal Trade Commission Fair Information Practices</p>
                </div>
                <div class="col-sm-6 col-md text-center">
                    <!-- image icon  -->
                    <div class="brand-icon brand-australia mb-3"></div>
                    <p class="h6">Australia's Privacy Act</p>
                </div>
            </div>
            <div class="row p-4 many-more">
                <div class="col text-center pt-4">
                    <div class="card d-inline-block border-0 shadow">
                        <div class="card-body py-3">
                            <p class="h2 text-dark m-0">+ Many More</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @@include('partials/sections/sect-features.html')
    @@include('partials/sections.html')
    @@include('partials/footer.html')
    @@include('partials/script.html')
</body>

</html>