<!doctype html>
<html lang="en">

<head>
   @@include('partials/head.html')
</head>

<body>
     @@include("partials/header.html", {"mode": "transparent-dark"})
    <section class="sect-user-reviews bg-light">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col-lg-10 offset-lg-1">
                    <h1 class="display-3 hero-title">Reviews</h1>
                    <p class="h3 hero-subtitle font-weight-normal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam alias dolor, error culpa possimus deleniti.</p>
                </div>
            </div>
        </div>
        <img src="./assets/bg/paper-flying1-colored.svg" alt="" class="bg-element element-1">
        <img src="./assets/bg/paper-flying2-colored.svg" alt="" class="bg-element element-2">
        <img src="./assets/bg/paper-flying3-colored.svg" alt="" class="bg-element element-3">
      
    </section>
    <section class="sect-user-reviews">
        <div class="container">
            <div class="row"> 
                <!-- from top to bottom and from left to right -->
                <div class="card-columns">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Sheff Dyett</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Shopping experience great. I haven't had a chance to review products yet but so far so great.</p>
                            <p class="medium font-weight-bold text-center">15-Apr-2019</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Rutger McArtan</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Thank you for making it so simple and easy to create a proper and compliant privacy policy!</p>
                            <p class="medium font-weight-bold text-center">23-Feb-2019</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Aurora Czaple</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">good.</p>
                            <p class="medium font-weight-bold text-center">24-Jun-2019</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Stephanie Jeggo</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">It helps a lot.</p>
                            <p class="medium font-weight-bold text-center">09-May-2019</p>
                        </div>
                    </div>
                    <!-- next column cards -->
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Georg Tatchell</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Nice job.</p>
                            <p class="medium font-weight-bold text-center">15-May-2019</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Amalle Eubank</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Made this process stress free and user friendly!</p>
                            <p class="medium font-weight-bold text-center">23-Jun-2019</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Dorry Klarzynski</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">nice and straight forward user friendly</p>
                        <p class="medium font-weight-bold text-center">10-Dec-2018</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Barnard Lamming</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">A++</p>
                            <p class="medium font-weight-bold text-center">07-Nov-2018</p>
                        </div>
                    </div>
                    <!-- next column cards -->
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Neel Matignon</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Again, it's a great feature for a fast and cheap set up, which gives me peace of a mind, as I know have a Terms of Use agreement. :-)</p>
                            <p class="medium font-weight-bold text-center">10-Nov-2018</p>
                        </div>
                    </div>                    
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Carmon Bisiker</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Super Fast, Super Easy</p>
                            <p class="medium font-weight-bold text-center">23-Mar-2019</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Tatiana Gyorffy</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">So far so good</p>
                            <p class="medium font-weight-bold text-center">09-Nov-2018</p>
                        </div>
                    </div>
                    <div class="card">                    
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Wilona Annakin</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Excellent service</p>
                            <p class="medium font-weight-bold text-center">19-Feb-2019</p>
                        </div>
                    </div>
                    <!-- next column cards -->
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Dorella Marian</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">I think TermsFeed is great. I liked that it was hassle free and easy to set up.</p>
                            <p class="medium font-weight-bold text-center">30-Apr-2019</p>
                        </div>
                    </div>                    
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Mercie Shitliffe</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Easy-peasy! Thanks, FreePrivacyPolicy!</p>
                            <p class="medium font-weight-bold text-center">03-Nov-2018</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Allyce Batterson</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Quick and easy way to secure our company website. Thanks for making this a great user experience.</p>
                            <p class="medium font-weight-bold text-center">14-Dec-2018</p>
                        </div>
                    </div>
                    <div class="card">                    
                        <div class="card-body text-center">
                            <div class="h1 text-secondary mb-3 icon icon-quote"></div>
                            <h6>Munroe Binns</h6>
                            <span class="text-secondary">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </span>
                            <p class="font-italic mt-2">Easy to set up and easy to put into place.</p>
                            <p class="medium font-weight-bold text-center">25-Nov-2018</p>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </section>

    @@include('partials/footer.html')
    @@include('partials/script.html')
</body>

</html>