<section class="sect-features">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-title">Features</h2>
                <p class="section-subtitle">Let explore the way of creating policies</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <!-- image icon  -->
                <i class="icon icon-circle icon-click alert-primary text-primary rounded-circle ml-0 mt-lg-0"></i>
                <p class="h5 mt-4">1 click activation</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iure repellendus distinctio.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                <!-- image icon  -->
                <i class="icon icon-circle icon-padlock display-4 text-brand-green alert-brand-green rounded-circle ml-0 mt-lg-0"></i>
                <p class="h5 mt-4">GDPR ready</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                <!-- image icon  -->
                <i class="icon icon-circle icon-magic-wand display-4 text-secondary alert-secondary rounded-circle ml-0 mt-lg-0"></i>
                <p class="h5 mt-4">Guided Process</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                <!-- image icon  -->
                <i class="icon icon-circle icon-desktop display-4 text-brand-blue alert-brand-blue rounded-circle ml-0 mt-lg-0"></i>
                <p class="h5 mt-4">Multiple Integrations</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur voluptatum iste.</p>
            </div>
        </div>
    </div>
</section>