
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@include keyframe(rotateUp) {
    from {
        @include rotate(0);
    }

    to {
        @include rotate(180);
    }
}


@include keyframe(rotateDown) {
    from {
        @include rotate(180);
    }

    to {
        @include rotate(0);
    }
}

