@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
        @include box-shadow($btn-box-shadow-x $btn-box-shadow-y $btn-box-shadow-blur rgba($value, $btn-box-shadow-opacity));

        &.btn-sm {
            @include box-shadow($btn-box-shadow-x-sm $btn-box-shadow-y-sm $btn-box-shadow-blur-sm rgba($value, $btn-box-shadow-opacity-sm));
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}

.btn {
    font-weight: $font-weight-bolder;
    min-width: $btn-min-width;
    text-transform: uppercase;

    @include transition($transition-base);
    @include hover {
        box-shadow: none;

        @include transition($transition-base);
    }
}

.btn-sm {
    min-width: $btn-min-width-sm;
}



@each $color, $page in $landing-pages {
    .#{$page} {
        .navbar:not(.sticky) {
            .btn {
                color: map-get($colors, $color);
            }
        }
    }
}

.scroll-top {
    display: none;
    opacity: 0;
    right: $float-btn-top-position-right;
    bottom: $float-btn-top-position-bottom;
    width: $float-btn-top-position-width;
    min-width: auto;
    height: $float-btn-top-position-height;
    font-size: $float-btn-top-font-size;
    border-radius: $float-btn-top-border-radius;
    display: flex;
    box-shadow: $float-btn-top-box-shadow;
    border-radius: $float-btn-top-border-radius;
    transform: translateY(5rem);

    @include transition($transition-base);

    i {
        transform: rotate($float-btn-top-rotate);
    }

    &:hover {
        opacity: $float-btn-top-hover-opacity;
    }
}

.scroll-top-show {
    opacity: 1;
    transform: translateY(-30%);
    transition: transform opacity 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.scroll-top-show {
    bottom: $float-btn-top-position-bottom;
}

.floating-menu {
    right: $float-btn-top-position-right;
    bottom: $float-btn-top-position-bottom;
    width: $float-btn-top-position-width;
    min-width: auto;
    height: $float-btn-top-position-height;
    font-size: $float-btn-top-font-size;
    border-radius: $float-btn-top-border-radius;
    display: flex;
    box-shadow: $float-btn-top-box-shadow;
    border-radius: $float-btn-top-border-radius;

    @include transition($transition-base);

    i {
        transform: rotate(45deg);

        @include transition($transition-base);
    }

    &[aria-expanded=true] {
        i {
            transform: rotate(0deg);

            @include transition($transition-base);
        }
    }
}

#copy_consent_code {
    position:absolute;
    top:0;
    right: 0;
    border-bottom-left-radius:$btn-border-radius-1 / 2;
    border-top-left-radius:0;
   
}

@include media-breakpoint-down(md) {
    .scroll-top {
        bottom: $float-btn-top-position-bottom * 2.5;
    }
}