.card-1 {
    z-index: -1;
}

.card-2 {
    top: -2.5rem;
    left: 6rem;
    z-index: -1;
}

.card {
    @include transition($transition-base);

    &:hover {
        box-shadow: $box-shadow;

        @include transition($transition-base);
    }

    &.featured-post {
        margin-top: $featured-post-margin-y;
    }

    &.blog-post {
        overflow: hidden;

        img {
            @include border-left-radius($card-inner-border-radius);
        }

        .card-footer {
            z-index: 0;
            border-radius: 0;
            border-bottom-right-radius: $card-inner-border-radius;
        }
    }

    &.related-post {
        .card-footer {}
    }
}

.post-sidebar {
    .card {
        overflow: hidden;
        box-shadow: $box-shadow-sm;

        &:hover {
            box-shadow: $box-shadow;
        }
    }
}

a.card-footer {
    text-transform: uppercase;

    &:hover {
        background-color: $card-footer-link-hover-bg;
        color: $card-footer-link-hover-color;
    }
}

// Card columns
.card-columns {
    .card {
        margin-bottom: $spacer * 2;
    }

    @include media-breakpoint-only(sm) {
        column-count: 1;
        column-gap: $card-columns-gap;
    }


    @include media-breakpoint-only(md) {
        column-count: 2;
        column-gap: $card-columns-gap;
    }


    @include media-breakpoint-only(lg) {
        column-count: $card-columns-count;
        column-gap: $card-columns-gap;
    }


    @include media-breakpoint-only(xl) {
        column-count: $card-columns-count;
        column-gap: $card-columns-gap;
    }
}

.card-product {
    @include transition($transition-base);

    &:hover {
        transform: translateY(-1rem);
        box-shadow: $box-shadow-card-product-hover;

        @include transition($transition-base);
    }

    .card-footer {
        @include transition($transition-base);

        &:hover {
            color: $white !important;

            @include transition($transition-base);
        }
    }
}

.builder_zone {
    opacity: 0.3;

    &.active {
        opacity: 1;

        &:after {}
    }
}

@each $color, $product in $product-icons {
    $color: map-get($colors, $color);

    .card-#{$product} {
        .card-footer {
            color: $color;

            i {
                color: $color;
            }
        }
    }

    .card-#{$product} {
        .card-footer {
            &:hover {
                background-color: $color;

                .icon {
                    color: $white;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .card {
        &.blog-post {
            .card-footer {
                border-radius: 0;

                @include border-bottom-radius($card-inner-border-radius);
            }
        }
    }
}