@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/fonts-Semibold.eot');
    src: url('../fonts/fonts-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts-Semibold.woff') format('woff'),
        url('../fonts/fonts-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/fonts-Regular.eot');
    src: url('../fonts/fonts-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts-Regular.woff') format('woff'),
        url('../fonts/fonts-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

