// Navbar general style
.navbar {
    background: $white;
    position: absolute;
    width: 100%;
    transform: translateY(0%);
    animation: slide-up 0.5s;
    z-index: $zindex-dropdown;
    transition: all .3s easy-out;
    min-height: $navbar-height;

    .nav-link {
        font-size: $medium-font-size;
        text-transform: uppercase;
    }
}

.navbar-nav {
    .nav-link {
        font-weight: $font-weight-bold;
    }

    .active > .nav-link {
        position: relative;

        &::before {
            content: '';
            width: $short-line-width;
            height: $line-height;
            background-color: $line-color;
            position: absolute;
            bottom: $line-bottom;
            right: $short-line-right;
            display: inline-block;
        }

        &::after {
            content: '';
            width: $long-line-width;
            height: $line-height;
            background-color: $line-color;
            position: absolute;
            bottom: $line-bottom;
            left: $long-line-left;
            display: inline-block;
        }
    }
}

.navbar-transparent-light {
    background: transparent;
}

.navbar-light {
    // navbar light - specific
    .navbar-nav {
        .active > .nav-link {
            position: relative;

            &::before,
            &::after {
                background-color: $white-nav-line-color;
            }
        }
    }
}

.navbar-dark {
    // navbar dark - specific
    background: transparent;

    .navbar-nav {
        .active > .nav-link {
            position: relative;

            &::before,
            &::after {
                background-color: $dark-nav-line-color;
            }
        }
    }
}

.navbar-toggler {
    float: right;
    padding: $navbar-toggler-padding-x;

    &:active,
    &:focus {
        outline: none;
    }

    &[aria-expanded="true"] {
        .navbar-toggler-icon {
            border-color: transparent;

            &:after {
                transform: rotate(45deg);
            }

            &:before {
                transform: translateY($toggler-icon-top-position) rotate(-45deg);
            }
        }
    }
}

.navbar-toggler-icon {
    width: $toggler-icon-width;
    height: $toggler-icon-height;
    background-image: none !important;
    position: relative;
    border-bottom: $toggler-icon-border-width solid $toggler-icon-border-color;

    @include transition($transition-base);

    &:before,
    &:after {
        width: $toggler-icon-width;
        position: absolute;
        height: $toggler-icon-border-width;
        background-color: $toggler-icon-border-color;
        top: 0;
        left: 0;
        content: '';
        z-index: 2;

        @include transition($transition-base);
    }

    &:after {
        top: $toggler-icon-top-position;
    }
}

.sticky {
    position: fixed;
    top: 0;
    background: $white;
    background-color: $white;
    width: 100%;
    box-shadow: $box-shadow;
    animation: slide-down 0.5s;
    transform: translateY(0%);
    transition: all .3s easy-out;
}

footer {
    .nav-link {
        color: $gray-800;

        @include transition($transition-base);

        &:hover {
            opacity: 0.7;

            @include transition($transition-base);
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar {
        .navbar-nav {
            padding: $navbar-nav-mobile-padding-y $navbar-nav-mobile-padding-y;

            .nav-link {
                padding-right: $navbar-nav-link-padding-x;
                padding-left: $navbar-nav-link-padding-x;
            }
        }

        .nav-item {
            margin-right: auto;
        }
    }
}

@include media-breakpoint-down(sm) {

    .navbar-brand {
        img {
            height: 30px;
        }
    }
    }