.selectable {
    .card-body {
        padding-top:$selectable-padding-y;
        padding-bottom::$selectable-padding-y;
    }
    label {
        transition: all 0.2s linear;
        margin-bottom: 0;

        @include box-shadow($box-shadow-none);

        &:hover {
            cursor: pointer;
            border-color: $selectable-border-hover-color;
            transition: all 0.2s linear;
            box-shadow: none;

            span {
                color: $selectable-active-color;
            }
        }
    }

    input:checked + label {
        border-color: $selectable-border-hover-color;
        color: $selectable-active-color;
        background-color: $selectable-active-bg;
        
        span {
            color: $selectable-active-color;

        }

        &.custom-control-label {
            &::before {
                display: block;
            }
        }
    }

    input:focus + label {
        &.custom-control-input:focus {
            & ~ .custom-control-label::before {}
        }
    }

    .custom-control-label {
        &::before {
            display: none;
            top: -$font-size-base + $custom-control-indicator-size / 4;
            right: -$font-size-base + $custom-control-indicator-size / 4;
            left: auto;
        }

        // Foreground (icon)
        &::after {
            top: -$font-size-base + $custom-control-indicator-size / 4;
            right: -$font-size-base + $custom-control-indicator-size / 4;
            left: auto;
        }
    }

    &.custom-checkbox {
        .custom-control-label::before {
            @include border-radius(100%);
        }
    }
}