// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.



$spacer: 1rem;
$spacers: ();


$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6)
  ),
  $spacers
);



// ============
// Fonts
// ============

$font-family-sans-serif:      'Proxima Nova' ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif;


// ============
// Definistions
// ============

// Product icons
$product-icons:();
$product-icons: map-merge(
  (
      'brand-violet':       'product-privacy',
      'brand-purple':        'product-terms',
      'brand-pink':          'product-cookie',
      'brand-orange':        'product-return',
      'brand-turquoise':     'product-disclaimer',
      'brand-green':         'product-eula',
      'brand-blue':          'product-consent',
      ),
  $product-icons
  );

$landing-pages:();
$landing-pages: map-merge(
  (
    'brand-violet':     'landing-privacy',
    'brand-purple':     'landing-terms',
    'brand-pink':       'landing-cookie',
    'gray-dark':        'landing-return',
    'brand-turquoise':  'landing-disclaimer',
    'brand-green':      'landing-eula',
    'brand-blue':       'landing-consent'
    ),
  $landing-pages
  );

$font-size-base:              1rem;


$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base * 1.125;

$font-sizes: (
    h1: $h1-font-size, 
    h2: $h2-font-size, 
    h3: $h3-font-size, 
    h4: $h4-font-size, 
    h5: $h5-font-size,
    h6: $h6-font-size
);

// Shadows

$enable-shadows:                    true;
$box-shadow-sm:                     0 .125rem .5rem rgba($gray-900, .1);
$box-shadow:                        0 0.25rem 1.25rem rgba($gray-900, .1);
$box-shadow-hover:                  0 .625rem 2rem rgba($gray-900, .1);
$box-shadow-lg:                     0 .625rem 3rem rgba($gray-900, .2);
$box-shadow-card-product:           0 .312rem 1.875rem rgba($gray-900, .3);
$box-shadow-card-product-hover:     0 .625rem 2rem rgba($gray-900, .6);
$box-shadow-primary-sm:             0 .125rem .25rem rgba($primary, .2);
$box-shadow-none:                   none;

// Z-index


$zindex-fixed: 999;


// Gradients

$enable-gradients: true;

// Radius

$border-radius:               .438rem;
$border-radius-lg:            .9375rem;
$border-radius-sm:            .2rem;


// Font sizes

$font-weight-normal:          400;
$font-weight-bold:            600;
$font-weight-bolder:          700;


// Component

$component-active-color:      $white;
$component-active-bg:         theme-color("primary");

// Body

$body-color: $gray-800;

// Gutter

$grid-gutter-width:           30px;


// ============
// Typo
// ============
$font-size-base:              1rem;
$medium-font-size:            88%;
$small-font-size:             75%;


$headings-color:              $gray-900;
$headings-font-weight:        $font-weight-bold;


$display1-weight:             $font-weight-bolder;
$display2-weight:             $font-weight-bolder;
$display3-weight:             $font-weight-bolder;
$display4-weight:             $font-weight-bolder;

// ============
// Buttons
// ============


// $line-height-base:                .25;

// small
$input-btn-padding-y-sm:          0.7rem;
$input-btn-padding-x-sm:          1rem;
$input-btn-font-size-sm:          $font-size-base;
$btn-min-width-sm:                8rem;


$btn-padding-y-sm:                $input-btn-padding-y-sm;
$btn-padding-x-sm:                $input-btn-padding-x-sm;
$btn-font-size-sm:                $input-btn-font-size-sm;
$btn-line-height-sm:              $input-btn-line-height-sm;


$btn-box-shadow-x-sm:             0;
$btn-box-shadow-y-sm:             0.5rem;
$btn-box-shadow-blur-sm:          0.9375rem;
$btn-box-shadow-opacity-sm:       0.25;
$btn-border-radius-sm:            30px 0px 30px 0px;
// normal

$input-btn-padding-y:             1.125rem;
$input-btn-padding-x:             1.4rem;
$cta-btn-padding-y:               $input-btn-padding-y;
$cta-btn-padding-x:               3.75rem;
$btn-min-width:                   6rem;


$btn-box-shadow-x:                0;
$btn-box-shadow-y:                0.3125rem;
$btn-box-shadow-blur:             1.25rem;
$btn-box-shadow-opacity:          0.5;
$btn-border-width:                1px;
$btn-border-radius:               30px 0px 30px 0px;
$btn-border-radius-1:             30px;
$btn-padding-y:                   $input-btn-padding-y;
$btn-padding-x:                   $input-btn-padding-x;





// ============
// Icons
// ============


$icomoon-font-family: "icons";
$icomoon-font-path: "../fonts/icons";


$icon-help: "\e914";
$icon-arrow-down: "\e912";
$icon-double-arrow-down: "\e913";
$icon-vimeo: "\e911";
$icon-close: "\e900";
$icon-desktop: "\e901";
$icon-document: "\e902";
$icon-dollar: "\e903";
$icon-facebook: "\e904";
$icon-magic-wand: "\e905";
$icon-padlock: "\e906";
$icon-quote: "\e907";
$icon-star: "\e908";
$icon-twitter: "\e909";
$icon-user: "\e90a";
$icon-youtube: "\e90b";
$icon-arrow-left: "\e90c";
$icon-arrow-right: "\e90d";
$icon-checkmark: "\e90e";
$icon-checkmark-bold: "\e90f";
$icon-click: "\e910";






// ============
// Sections
// ============

$section-padding-y: 6rem;


// ============
// Cards
// ============

$card-border-radius:                $border-radius;
$card-cap-bg:                       $white;
$card-columns-count:                4;
$card-border-color:                 $gray-300;
$card-footer-link-hover-bg:         $primary;
$card-footer-link-hover-color:      $white;



// ============
// Navbars
// ============

$navbar-height:                     67px;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $white;
$navbar-dark-active-color:          $white;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
$navbar-dark-toggler-border-color:  transparent;

$navbar-light-color:                $gray-800;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
$navbar-light-toggler-border-color: transparent;

$navbar-font-weight:                $font-weight-bold;
$navbar-padding-y:                  0.5rem;
$navbar-padding-x:                  $spacer;
$navbar-nav-link-padding-x:         1.25rem;
$navbar-nav-mobile-padding-y:       2rem;
$navbar-nav-mobile-padding-x:       0;

// Nav link active lines
// short line
$short-line-width:              .6rem;
$short-line-right:              $navbar-nav-link-padding-x;

$line-color:                    $white;
$line-height:                   2px;
$line-bottom:                   5px;

// long line
$long-line-width:               calc(100% - #{$navbar-nav-link-padding-x * 2} - #{$short-line-width} - 5px);   // sirina je 100% - 2x navbarlink padding - 0.6rem (kad se ovo sabere to je realna sirina leve linije). -5px je fiksni gap izmedju. 2x navbar link ulazi u proracun zato sto 100% ukljucuje i paddinge oko nav-linka. Ovako oduzmemo te paddinge
$long-line-left:                $navbar-nav-link-padding-x;

$white-nav-line-color:          $primary;
$dark-nav-line-color:           $white;

// toggler 

$navbar-toggler-border-radius:  $border-radius;
$toggler-icon-width:           1.5rem;
$toggler-icon-height:          1.0625rem;
$toggler-icon-border-color:    $gray-700;
$toggler-icon-border-width:    0.125rem;
$toggler-icon-top-position:    0.5rem;

// ============
// Icons
// ============

$product-icon-sm:                           0.13;
$product-icon-zoom:                         0.3;
$product-icon-zoom-sm:                      0.11;

$product-icon-firefox-margin-sm:            0.13;
$product-icon-firefox-margin:               5rem;
$product-icon-firefox-margin-sm:            7.125rem;
$product-icon-firefox-margin-right-sm:      map-get($spacers, 2) - $product-icon-firefox-margin-sm ;


// ============
// Links
// ============

$link-hover-decoration:         none;
$link-font-weight:              $font-weight-bold; 


// ============
// Dropdown
// ============

$dropdown-item-padding-y:           .625rem;
$dropdown-item-padding-x:           1rem;
$dropdown-item-padding-y-sm:        .3rem;
$dropdown-item-padding-x-sm:        1rem;
// $dropdown-padding-y:                12rem;
$dropdown-link-hover-bg:            lighten($component-active-bg, 37%);



// ============
// Slider
// ============

$slider-slide-width:                          18.125rem;
$slider-slide-padding-y:                      0rem;
$slider-slide-padding-x:                      $grid-gutter-width / 2;
$slider-track-padding-y:                      2rem;
$slider-track-padding-x:                      0; 
$slider-control-height:                       3.125rem;
$slider-button-font-size:                     3rem;
$slider-button-border-color:                  rgba($white, 0.5);
$slider-button-disabled-font-size:            2.2rem;
$slider-button-disabled-opacity:              0.6;
$slider-button-disabled-hover-color:          $white;
$slider-button-disabled-hover-background:     transparent;
$slider-button-disabled-border-color:         $slider-button-border-color;
$slider-dots-active-color:                    $white;
$slider-dots-color:                           $slider-dots-active-color;
$slider-dots-font-size:                       0.5rem;
$slider-button-icon-width:                    3rem;
$slider-button-icon-height:                   3rem;





// ============
// Blog
// ============

$featured-post-margin-y: -5rem;



// ============
// Pagination
// ============

$pagination-padding-y:              $input-btn-padding-y-sm;
$pagination-padding-x:              $input-btn-padding-y-sm;
$pagination-color:                  $gray-800;
$pagination-hover-color:            $white;
$pagination-hover-bg:               $primary;
$pagination-hover-border-color:     $primary;
$pagination-disabled-color:         $gray-500;




// ============
// Scroll indicator
// ============


$scroll-indicator-height:                       .4rem;     
$scroll-indicator-bg:                           $gray-200;
$scroll-indicator-active-bg:                    $primary;      



// ============
// Carousel
// ============


$carousel-indicator-width:           15px;
$carousel-indicator-height:          15px;
$carousel-indicator-hit-area-height: 0px;
$carousel-indicator-spacer:          4px;
$carousel-indicator-active-bg:       $primary;
$carousel-indicator-bg:              $gray-500;
$carousel-indicator-transition:      opacity .6s ease ;


// ============
// Alert
// ============


$alert-bg-level:                    -11;
$alert-border-level:                -9;
$alert-color-level:                 0;

$alert-border-width:                0px;



// ============
// Images
// ============


$img-avatar-width:              4rem;


// ============
// Blockquote
// ============


$blockquote-padding:            $spacer;
$blockquote-border-width:       5px;
$blockquote-border-color:        rgba($primary, 0.2);




// ============
// Scroll to top button
// ============

$float-btn-top-position-right:     2rem;
$float-btn-top-position-bottom:    2rem;
$float-btn-top-position-width:     5rem;
$float-btn-top-position-height:    3rem;
$float-btn-top-font-size:          1.8rem;
$float-btn-top-rotate:             180deg;
$float-btn-top-border-radius:      $border-radius;
$float-btn-top-opacity:            0.6;
$float-btn-top-hover-opacity:      1;
$float-btn-top-box-shadow:         $box-shadow-primary-sm;
$float-btn-top-border-radius:      $btn-border-radius;





// ============
// Selectable
// ============

$selectable-border-width:               2px;
$selectable-border-hover-color:         $primary;
$selectable-active-bg:                  lighten($primary, 38%);
$selectable-icon-width:                 4.375rem;
$selectable-active-color:               $selectable-border-hover-color;
$selectable-icon-height:                4.375rem;
$selectable-icon-color:                 $primary;
$selectable-padding-y:                  0.756rem;



// ============
// Form
// ============



$custom-control-indicator-size:                     1.625rem;
$custom-control-indicator-focus-box-shadow:         none;
$custom-select-box-shadow:                          none;
$input-focus-box-shadow:                            none;



$label-font-weight:                                 $font-weight-bold;
$label-font-size:                                   $h6-font-size;

$input-disabled-bg:                                 $gray-100;
$input-line-height:                                 2.25;
$input-height:                                      calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
$input-font-weight:                                 $font-weight-bold;